<ons-page ng-controller="CreateProfileController">
     <ons-toolbar>
         <div class="left">
             <ons-toolbar-button ng-click="menu.toggleMenu()">
               <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
             </ons-toolbar-button>
         </div>
         <div class="center">Create APN Profile</div>
     </ons-toolbar>

     <div style="text-align: center">
       <ons-list>
    			<ons-list-item>
    				<input id="input-name" type="text" placeholder="APN Name" ng-model="item_apnname" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
    			</ons-list-item>
    			<ons-list-item>
    				<input type="text" placeholder="User Name" ng-model="item_username" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
    			</ons-list-item>
          <ons-list-item>
    				<input type="text" placeholder="Password" ng-model="item_password" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
    			</ons-list-item>
          <ons-list-item>
            <div class="center">Enable CHAP</div>
            <div class="right"><ons-switch ng-model="item_authtype"></ons-switch></div>
          </ons-list-item>
          <ons-list-item>
    				<input type="text" placeholder="Proxy" ng-model="item_proxy" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
    			</ons-list-item>
          <ons-list-item>
    				<input type="number" placeholder="Port" ng-model="item_port" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
    			</ons-list-item>
    		</ons-list>
     </div>

     <div style="text-align: center">
       <section style="padding: 0 8px 8px">
         <ons-button modifier="large" should-spin=false ng-click="downloadProfile()">Download</ons-button>
       </section>
     </div>
 </ons-page>
